<!--header-->


<!-- ***** Main Banner Area Start ***** -->
<section class="section main-banner" id="top" data-section="section1">
  <video autoplay muted loop playsinline id="bg-video">
    <source src="https://assets.mixkit.co/videos/44074/44074-720.mp4" type="video/mp4" />
  </video>

  <div class="video-overlay header-text">
    <div class="caption">
      <h6>Real-Time Insights</h6>
      <h2><em>Real </em> Progress</h2>
      <div class="main-button">
        <div class="scroll-to-section"><a href="#section2">Discover more</a></div>
      </div>
    </div>
  </div>
</section>
<!-- ***** Main Banner Area End ***** -->


<section class="features">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-12">
        <div class="features-post">
          <div class="features-content">
            <div class="content-show">
              <h4><i class="fa fa-pencil"></i>Executive Dashboard</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12">
        <div class="features-post second-features">
          <div class="features-content">
            <div class="content-show">
              <h4><i class="fa fa-building"></i>Department Status</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12">
        <div class="features-post third-features">
          <div class="features-content">
            <div class="content-show">
              <h4><i class="fa fa-book"></i>Insights & Reports</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p><i class="fa fa-copyright"></i> Copyright 2026 by Avengers

          | Design: <a href="#"  target="_parent">Avengers</a><br>
          Distributed By: <a href="#" rel="sponsored" target="_blank">Avengers</a>

        </p>
      </div>
    </div>
  </div>
</footer>