
<section class="section main-banner" id="top" data-section="section1">
<form [formGroup]="formGroup" >

  <div class="container-fluid">
    <div class="row pt-2">
      <div class="col-lg-4">
        
<app-form-control
   [formGroup]="formGroup"
    inputId="district"
    controlName="districtId"
    [options]="districts"
    valueKey="districtId"
    labelKey="districtName"
    placeholder="Select District"
    label="Department"
    >
  </app-form-control>

      </div>
    </div>
  </div>
 

  @if(isBrowser && creator) {
  <survey-creator [model]="creator">
  </survey-creator>
  }

  <button class="btn btn-primary mt-3" type="submit" (click)="saveTemplate()">
    Save Survey Template
  </button>

</form>
</section>